//! **************************************************************************
// Written by: Map P.49d on Tue Sep 28 10:52:26 2021
//! **************************************************************************

SCHEMATIC START;
COMP "LED<0>" LOCATE = SITE "L3" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "N1" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "L5" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "L4" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "K3" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "M2" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "L6" LEVEL 1;
COMP "HEX<0>" LOCATE = SITE "U9" LEVEL 1;
COMP "HEX<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "HEX<2>" LOCATE = SITE "R7" LEVEL 1;
COMP "HEX<3>" LOCATE = SITE "R6" LEVEL 1;
COMP "Y" LOCATE = SITE "T8" LEVEL 1;
SCHEMATIC END;

